@import "tailwindcss";


@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scrollbar-color: #ada5a5 transparent;
    }

    * {
        scrollbar-width: 6px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: #333333;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555555;
    }
}

@layer base {
  h1 {
    @apply text-3xl font-Akira
  }
  h3 {
    @apply text-sm font-bold font-Space; 
  }
}

@layer components {
  .pages {
    @apply h-full w-full flex items-center
  }
  .keysGrid {
    @apply text-white mx-5 mt-2
  }
  .inputs {
    @apply bg-amber-200/10 w-full h-12 rounded-xl mt-1.5 pl-3 text-sm
  }

  .inputarea {
    @apply bg-amber-200/10 w-full h-16 rounded-xl mt-1.5 pl-3 
  }

  .selections {
    @apply bg-amber-200/10 w-full h-9 rounded-xl mt-1.5 px-3 uppercase
  }

  .sections-1 {
    @apply mt-3 grid grid-cols-1
  }

  .sections-2 {
    @apply mt-3 grid grid-cols-2
  }

  .checkmarks {
    @apply w-4 h-4 appearance-none border border-gray-400 rounded-sm bg-transparent cursor-pointer  checked:bg-blue-500 checked:border-blue-500 transition-all relative checked:after:content-[''] checked:after:absolute checked:after:left-[4px] checked:after:top-[1px] checked:after:w-[5px] checked:after:h-[9px] checked:after:border-r-2 checked:after:border-b-2  checked:after:border-white checked:after:rotate-45
  }

  .glassmorphism {
    @apply font-Space bg-white/20 rounded-lg border-1 border-white
  }

  .icons {
    @apply p-2 my-1.5 text-2xl rounded-lg hover:bg-white/20 flex justify-center
  }

  .icons-active {
    @apply bg-white/20 text-white
  }
}


@font-face {
    font-family: 'Akira';
    src: url('../static/Akira/Akira\ Expanded\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --font-Akira: Akira, "sans-serif";
  --font-Space: "Space Grotesk", "sans-serif";
}
