@import "tailwindcss";


@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    * {
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
  h3 {
    @apply text-sm font-bold font-Space; 
  }
}

@layer components {
  .pages {
    @apply h-full w-full pt-20
  }
  .keysGrid {
    @apply text-white mx-6 mt-2
  }
  .inputs {
    @apply bg-amber-200/10 w-full h-9 rounded-xl mt-1.5 pl-3
  }

  .inputarea {
    @apply bg-amber-200/10 w-full h-16 rounded-xl mt-1.5 pl-3 
  }

  .selections {
    @apply bg-amber-200/10 w-full h-9 rounded-xl mt-1.5 px-3 uppercase
  }

  .sections-1 {
    @apply mt-3 grid grid-cols-1
  }

  .sections-2 {
    @apply mt-3 grid grid-cols-2
  }
}


@font-face {
    font-family: 'Akira';
    src: url('../static/Akira/Akira\ Expanded\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --font-Akira: Akira, "sans-serif";
  --font-Space: "Space Grotesk", "sans-serif";
}